.a_tieude:hover {
    color: #5ca038;
}

.a_tieude {
    font-weight: normal;
    font-size: 18px;
}

.g {
    margin-top: 0;
    margin-bottom: 23px;
}

h3.r {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.div_content_tintuc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
}
.value_lotrinh {
    text-transform: uppercase;
    font-size: 17px;
}
.tindang_ngaydang{
    color: #aaa;
    font-weight: normal!important;
}
.value_giave {
    font-size: 25px;
    font-style: normal!important;
    color: #ff6f00;
}
.chitiet_tien{
    font-size: 25px;
    color: #ff6f00;
}

.chitiet_giokhoihanh{
    font-size: 17px;
    color: blue;
    font-weight: bold;
}

.chitietlotrinh{
    font-size: 17px;
}
.lotrinhhientai{
    font-size: 17px;
}
.s > font{
    color: #aaa!important;
}
.ngaydang{
    color: #aaa;
}

.tintuc_ngay{
    font-style: normal;
    color: #aaa;
}