@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "pages/site";
.list_trangchu{
  width:100%;
  border-radius: 20px!important;
}
.list_trangchu td{
  padding-left: 2px;
  padding-top: 2px;
}

.list_trangchu:hover{
  background-color: #f5f5f5;
  border-radius: 5px;
}
.border_radius{
  border-radius: 5px;
}
.chitiet_dixe{
  padding: 3px 17px;
  background-color: #83be54;
  color: white;
  font-weight: bold;
}
.chitiet_dixe:hover{
  color: white!important;
}

.img_slideshow{
  height: 300px;
  width: 100%;
}

.navbar-nav li:hover{
  background-color: #e7e7e7;
}
.navbar-nav li a:hover{
  color: #83be54!important;
}

.dangky_dangnhap:hover{
  background-color: #2c3e50!important;
}
.dangxuat a{
  padding:2px!important;
}
.dangxuat a:hover{
   background: #000!important;
 }

.dropdown-menu{
  padding: 0;
}